@page "/error"
@inherits Navigation
@layout ErrorLayout

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Error de conexion</title>
</head>
<section class="text-center">
    <i class="fa fa-exclamation-circle fa-5x text-danger"></i>
    <h3>Oops.. No hemos logrado conectarte</h3>
    <p>Asegurate de estar conectado y refresca la pagina</p>
</section>