@page "/adminregistration"
@using Controllers
@using Microsoft.Data.SqlClient
@inherits Navigation
@inject NavigationManager NavigationManager
@inject ClientController ClientController



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="text-center mt-2">
    <h1>Registro de administrador</h1>
</header>

<section class="mt-5 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">
                            <span>Registro de Usuario</span>
                        </h3>
                    </div>
                    <div class="card-body">
                        <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-user-circle-o"></i>
                                    </span>
                                    <input type="text" class="form-control" id="name" @bind="_name" placeholder="Ingresa tu nombre" required maxlength="100">
                                    <div class="invalid-feedback">Por favor ingresa tu nombre completo.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Correo Electrónico</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="email" class="form-control" id="email" @bind="_email" placeholder="Ingresa tu correo electrónico" required>
                                    <div class="invalid-feedback">Por favor ingresa un correo electrónico válido.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" id="password" @bind="_password1" placeholder="Ingresa tu contraseña" required>
                                    <div class="invalid-feedback">Por favor ingresa una contraseña válida.</div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="fa fa-lock"></i>
                                    </span>
                                    <input type="password" class="form-control" id="confirmPassword" @bind="_password2" placeholder="Confirma tu contraseña" required>
                                    <div class="invalid-feedback">Por favor confirma tu contraseña.</div>
                                </div>
                            </div>
                            <button class="btn btn-primary" name="submit" type="button" @onclick="HandleRegisterAdmin">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <div class="alert alert-danger mt-3 text-center" role="alert">@_errorMessage</div>
        }
    </div>

</section>

@code
{

    string? _name;
    string? _email;
    string? _password1;
    string? _password2;
    string? _errorMessage;


    private void HandleRegisterAdmin()
    {
        try
        {
            ClientController.RegisterAdmin(_name, _email, _password1, _password2);
            ClientController.SetActiveUser(_email);
            const string action = "Inicio de sesión";
            var now = DateTime.Now;
            ClientController.AddActionToClient(_email, action, now);
            NavigationManager.NavigateTo("/create_reservation");
        }
        catch (ArgumentException ex)
        {
            SetErrorMessage(ex.Message);
        }
        catch (NullReferenceException)
        {
            const string nullReferenceMessage = "No se seleccionaron todos los campos";
            SetErrorMessage(nullReferenceMessage);
        }
        catch (SqlException)
        {
            NavigationManager.NavigateTo($"/{Routes.Error.ToString().ToLower()}");
        }
    }
    
    void SetErrorMessage(string message)
    {
        _errorMessage = message;
    }
}